.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  padding: 6px 12px;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 600px) {
  .tile {
    font-size: 15px;
  }
}
