.projects-overview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /* background-color: lightcoral; */
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 28px 35px;
  gap: 40px;
  position: relative;
}

/* Uncomment this css when want to use the swipe cards icon  */
/* .swipe-cards-icon {
  position: absolute;
  z-index: 100;
  bottom: 22%;
  right: 10%;
  height: 40px;
  width: 40px;
} */

/* .swipe-cards-icon img {
  height: 100%;
  width: 100%;
} */

.project-cards {
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

.swiper-container {
  width: 95%;
  /* background-color: magenta; */
}

.swiper-slide {
  width: 100%;
  /* background-color: mediumseagreen; */
}

.heading {
  font-size: 25px;
  font-weight: 700;
  /* background-color: red; */
  width: fit-content;
}

.dark {
  color: #fff;
  background-color: #525252;
}

@media only screen and (max-width: 850px) {
  .heading {
    font-size: 23px;
  }
}

@media only screen and (max-width: 600px) {
  .projects-overview {
    padding: 24px;
  }

  .heading {
    font-size: 23px;
  }
}
