.projects-overview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* background-color: lightcoral; */
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 28px 35px;
  gap: 25px;
}

.heading {
  font-size: 25px;
  font-weight: 700;
  /* background-color: red; */
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  .projects-overview {
    padding: 24px;
  }
}
