.skills {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 32px 38px;
  gap: 25px;
}

.heading {
  font-size: 25px;
  font-weight: 700;
  width: fit-content;
}

.heading-dark {
  font-size: 25px;
  font-weight: 700;
  width: fit-content;
  color: #fff;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  height: auto;
  width: 100%;
  gap: 15px;
}

/* .dark {
  background-color: #525252;
} */

@media only screen and (max-width: 600px) {
  .skills {
    padding: 24px;
  }
  .tiles-container {
    height: auto;
    /* gap: 12px; */
  }
}
