.sidebar-filter {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: -500%;
  transition: 550ms;
  z-index: 100;
}

.sidebar-filter.active {
  left: 0;
  transition: 350ms;
}
