.about {
  height: 300px;
  width: 100%;
  display: flex;
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 24px;
  gap: 18px;
}

.avatar-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.avatar img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2.5;
  height: auto;
  gap: 10px;
}

.heading {
  font-size: 25px;
  font-weight: 700;
  width: fit-content;
}

.info {
  font-size: 22px;
}

@media only screen and (max-width: 850px) {
  .heading {
    font-size: 23px;
  }
  .info {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    height: auto;
    gap: 22px;
  }

  .avatar-container {
    width: 100%;
  }

  .info-container {
    width: 100%;
    gap: 18px;
  }
  .info {
    font-size: 18px;
  }
}
