.container {
  display: flex;
  min-height: 465px;
  height: auto;
  gap: 18px;
  /* background-color: red; */
}

.projects {
  width: 50%;
}

.skills-and-resume {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 18px;
}

.skills {
  flex: 1.5;
}

.resume {
  flex: 1;
}

@media only screen and (max-width: 880px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .projects {
    height: auto;
    width: 100%;
  }

  .skills-and-resume {
    height: auto;
    width: 100%;
  }
}
