* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 45px 20px;
  }
}
