* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  gap: 20px;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0px;
}

.dark {
  background-color: #282828;
  /* background-color: #1e1e1e; */
}

@media only screen and (max-width: 1120px) {
  .App {
    padding: 45px 25px;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 45px 20px;
  }
}
